/*---Menu Section---*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}
.calContainer{
    background-color:var(--third-bg-color);
    margin:0px 0px 0px 40px;
    width:92.2%;
    height:843px;
    transform: translateX(1.8%);
    border-radius:8px;
  }
  
  .icons{
    justify-content: space-between;
  }

  .mini-calendar{
  width:395px;
  background-color:var(--third-bg-color);
  border-radius:8px 8px 0px 0px;
  color:black;
}

  .mini-calendar-header{
    font-size: 25px;
    font-weight: bold;
    height:60px;
    display:grid;
    align-items: center;
  }

  .mini-calendar-cell{
    text-align:center;
    padding: 0px 0px 0px 16px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
  }

  .mini-calendar-grid{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    padding:0 10px;
    justify-content:center;
    min-height:35.60vh;
    background-color:var(--third-bg-color);
    border-radius:0px 0px 8px 8px;
  }

  
  .mini-calendar-daysOfWeek{
    display:flex;
    flex-wrap:wrap;
    Justify-content: space-between;
    text-align:center;
    padding: 5px 20px;
    background-color:var(--third-bg-color);
    border-radius: 8px 8px 0px 0px;
  }

  .mini-calendar-daysOfWeek {
    color:black;
    width:calc(100% / 7);
    font-size:1.0rem;
  }

  .mini-calendar-daysOfWeek {
    font-weight:500;
    width:auto;
    cursor:default;
  }

  .mini-calendar-daysOfWeek .days{
    z-index:1;
    cursor:pointer;
    position:relative;
    margin-top:30px;
  }

  .continuationOfMiniCalendar{
    width:395px;
    background-color:var(--third-bg-color);
    border-radius:0px 0px 8px 8px;
    min-height:42.00vh;
  }

.miniCalAnimOpen{
  animation: openSideCalAnim 0.3s ease;
}
@keyframes openSideCalAnim {
    0%{width:0px;
      opacity: 0;
    }

    100%{
      width:399px;
      opacity: 0.843;
    }
  }
  
.miniCalAnimClose{
  animation: closeSideCalAnim 0.3s ease;
}
@keyframes closeSideCalAnim {
    0%{
       width:399px;
      opacity: 0.843;
    }

    100%{
      width:0px;
      opacity: 0;
    }
  }

.wrapper header{
  display:flex;
  align-items:center;
  padding:25px 30px 10px;
  justify-content:space-between;
}

.icons{
  display:flex;
}

.icons i{
  height:38px;
  width:38px;
  margin:0 1px;
  cursor:pointer;
  color:var(--second-bg-color);
  text-align:center;
  line-height:38px;
  font-size:1.9rem;
  user-select:none;
  border-radius:50%;
}
.icons i:hover{
  background-color:var(--first-bg-color)
}
.current-date{
  font-size:1.45rem;
  font-weight:500;
}
.days .inactive{
  color:#aaa;
}
.days .active{
  color:#fff;
}
.days ::before{
  position:absolute;
  content:"";
  left:50%;
  top:50%;
  height:40px;
  width:40px;
  z-index:-1;
  border-radius:50%;
  transform:translate(-50%,-50%);
}
.days .active::before{
  background:#d55a5a;
}
.days :not(.active):hover::before{
  background:#f2f2f2;
}
  
  /*
  .wrapper:hover{
    animation:calPaneHoverAnim 0.5s ease;
    transform:translateX(370px);
  }
  @keyframes calPaneHoverAnim{
    0%{transform:translateX(0px);}/*0% is animation starting point
  }*/
  