
/*---Navbar Section---*/
.navContainer {
   background-color:var(--third-bg-color);
   height:5em;
   width:100%;
   display:flex;
   align-items:center;
   transition:0.5s;
 }
 
 .menu{
   font-size:32px;
   height:52px;
   width:52px;
   border-radius:80px;
 }
 
 .navContainer
 .menu{
   display:flex;
   justify-content:center;
   align-items:center;
 }
 
 i:hover{
   background-color:var(--fourth-bg-color);
   animation:iconBG_Anim 1s ease;
 }
 
 .navContainer
 .title{
   margin:0;
   font-size:32px;
   padding-left:40px;
 }
 
 .navContainer
 .searchBar
 input{
   width:480px;
   height:35px;
   border-radius:20px;
 }
 
 .navContainer 
 .searchBar{
   margin:50px;
   width:600px;
   display:flex;
   justify-content:center;
   padding-top:10px;
   align-items:center;
 }
 
 .navContainer
 .searchBar
 .search{
   font-size:24px;
   display:flex;
   justify-content:center;
   align-items:center;
   height:40px;
   width:40px;
   border-radius:50px;
 }
 
 .navOptions{
   width:600px;
   height:50px;
   padding-right:10px;
   display:flex;
   justify-content:flex-end;
 }
 
 .darkmode,
 .bell,
 .cog{
   font-size:32px;
   height:52px;
   width:52px;
   border-radius:80px;
   display:flex;
   justify-content:center;
   align-items:center;
 }
 
 #darkmodeDiv,
 #bellDiv,
 #cogDiv{
   padding-right:5px;
   padding-left:5px;
 }


 