* {
  margin: 0px;
  padding: 0px;
}

:root {
  --first-bg-color: gray;
  --second-bg-color: rgba(0, 0, 0, 0.843);
  --third-bg-color: rgba(248, 248, 255, 0.843);
  --fourth-bg-color:rgba(173, 173, 173, 0.321);
  --fifth-bg-color:rgb(239, 239, 239);
}

body {
  background-color: lightslategray;
}

.navContainer.dark{
  background-color:var(--second-bg-color);
  color:var(--third-bg-color)
}

.ribbonContainer.dark{
  background-color:var(--second-bg-color);
  color:var(--third-bg-color)
}

.calContainer.dark{
  background-color:var(--second-bg-color);
  color:var(--third-bg-color)
}